
.nav_wrapper {
    background-color: var(--code-black);
    transition: background-color var(--large-transition);
    box-shadow: 0 3px 20px 0 rgba(0,0,0,0.18);
    padding: 14px 0;
    box-sizing: border-box;
}

.nav_bar_logo {
    font-family: codeHubFont;
    font-size: 1.8em;
}

.nav_bar_logo span {
    opacity: 0.3;
    font-weight: 900;
    font-size: 0.4em;
    position: relative;
    top: 19px;
    left: -130px;
}

.nav_wrapper .btn {
    margin-right: 20px;
}

.logo {
    transform: scale(0.7);
    margin-right: 8px;
}