
.nav_wrapper {
    background-color: var(--code-black);
    transition: background-color var(--large-transition);
}

.nav_bar_logo {
    font-family: codeHubFont;
    font-size: 1.8em;
}

.nav_bar_logo span {
    opacity: 0.3;
    font-weight: 900;
    font-size: 0.4em;
    position: relative;
    top: 19px;
    left: -130px;
}

.nav_wrapper .btn {
    margin-right: 20px;
}

.logo {
    transform: scale(0.7);
    margin-right: 8px;
}

.theme_panel {
    position: absolute;
    width: 280px;
    height: 90px;
    border-radius: 0 0 44px 44px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--code-black);
    box-shadow: 0 34px 44px 2px var(--btn-shadow-subtle);
    transition: background-color var(--large-transition), box-shadow var(--large-transition);
}

.theme_panel:hover {
    transform: translate(-50%, -8%);
    cursor: pointer;
}

.theme_panel h6 {
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: var(--code-text);
    margin: 12px 0 6px 0;
    transition: color var(--large-transition);
}

.theme_btn {
    width: 34px;
    height: 34px;
    border: 3px solid var(--code-text);
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
    transition: border-color var(--large-transition);
}

.theme_btns {
    justify-content: space-around;
    max-width: 130px;
    margin: 0 auto;
}

.theme_white {
    background-color: var(--code-light);
}

.theme_black {
    background-color: var(--code-black);
}