/* :root {
    --code-black: hsl(0, 0%, calc(var(--lightness-change) + 13%));
    --code-black-2: hsla(0, 0%, calc(var(--lightness-change) + 22%), 0.8);
    --code-black-3: hsl(0, 0%, calc(var(--lightness-change) + 13%));
    --code-gray: hsl(0, 0%, calc(var(--lightness-change) + 16%));
    --code-purple: hsl(265, 20%, 24%);
    --code-studio: hsl(280, 46%, 45%);
    --code-border: hsla(0, 0%, calc(var(--lightness-change) + 100%), 0.24);
    --code-light-bg: hsla(0, 0%, calc(var(--lightness-change) + 100%, 0.04));
    --code-border-full: hsl(0, 0%, calc(var(--lightness-change) + 100%));
    --code-text: hsl(0, 0%, 100% );
    --btn-shadow: hsla(0, 0%, calc(var(--lightness-change) + 0%, 0.76));
    --btn-shadow-subtle: hsla(0, 0%, 0%, 0.26);
    --btn-shadow-inner:  hsla(0, 0%, 35%, 0.2);
    --code-grad-black: linear-gradient(90deg, var(--code-black) 0%, var(--code-black-2) 100%);
    --btn-radius: 8px;
    --default-transition: 0.4s ease;
    --lightness-change: 150%;
} */

input:focus {
    outline:none !important;
}

button:focus {outline:0;}

table {
    border-spacing: 0;
}

body {
        --code-black: hsl(0, 0%, calc(var(--lightness-change) + 13%));
        --code-black-2: hsla(0, 0%, calc(var(--lightness-change) + 22%), 0.8);
        --code-black-3: hsl(0, 0%, calc(var(--lightness-change) + 13%));
        --code-gray: hsl(0, 0%, calc(var(--lightness-change) + 16%));
        --code-purple: hsl(265, 20%, 24%);
        --code-studio: hsl(280, 46%, 45%);
        --code-border: hsla(0, 0%, calc(var(--lightness-change) + 100%), 0.24);
        --code-backdrop: #252525;
        --code-light-bg: hsla(0, 0%, calc(var(--lightness-change) + 100%, 0.04));
        --code-border-full: hsl(0, 0%, calc(var(--lightness-change) + 100%));
        --code-text: hsl(0, 0%, 100% );
        --code-light: hsl(0, 0%, 80% );
        --btn-shadow: hsla(0, 0%, calc(var(--lightness-change) + 0%), 0.76);
        --btn-shadow-subtle: hsla(0, 0%, 0%, 0.26);
        --btn-shadow-large: hsla(0, 0%, 0%, 0.56);
        --btn-shadow-inner:  hsla(0, 0%, 35%, 0.2);
        --code-grad-black: linear-gradient(90deg, var(--code-black) 0%, var(--code-black-2) 100%);
        --btn-radius: 8px;
        --default-transition: 0.4s ease;
        --large-transition: 0.7s ease;
        --small-transition: 0.24s ease;
        --lightness-change: 0%;
}


.see-the-light {
     --code-text: hsl(0, 0%, 30% );
     --lightness-change: 150%;
     --code-backdrop: #F3F3F3;
} 


@font-face {
    font-family: codeHubFont;
    src: url(./assets/fonts/aurulentsans-regular.otf);
}

body,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: var(--code-text);
    transition: color var(--large-transition);
}

body {
    background-color: var(--code-black);
    transition: background-color var(--large-transition);
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--code-text);
    transition: color var(--large-transition);
}

h1 {
    font-size: 1.9em;
    color: var(--code-text);
    transition: color var(--large-transition);
}

h2 {
    font-size: 1.7em;
    color: var(--code-text);
    transition: color var(--large-transition);
}

html,
body,
.container {
    height: 100%;
}

.row {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: var(--code-text);
    transition: color var(--large-transition);
}

li {
    list-style: none;
    color: var(--code-text);
    transition: color var(--large-transition);
}

html,
body {
    margin: 0;
    padding: 0;
}

.flex_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.inner_wrapper {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.btn {
    padding: 14px 26px;
    border-radius: var(--btn-radius);
    border: 2px solid var(--code-border);
    box-sizing: border-box;
    transition: all var(--large-transition);
}

.btn:hover {
    border-color: var(--code-border-full);
    cursor: pointer;
}

.btn-float {
    box-shadow: 0 6px 26px 0 var(--btn-shadow-large);
    border: none;
    transition: all var(--large-transition);
}

.btn-float:hover {
    transform: translateX(6px);
    box-shadow: 0 2px 4px 0 var(--btn-shadow-large);
}

.btn-extreme {
    display: inline-block;
    font-weight: 900;
    font-size: 1.1em;
}