.stat_wrapper {
    padding: 16px 0;
    background-color: var(--code-black);
    border-radius: 104px;
    box-sizing: border-box;
    box-shadow: 0 12px 28px 3px var(--btn-shadow-subtle), inset 0 var(--shadow-bump) 8px 0 var(--btn-shadow-inner);
    transform: translateY(-50%);
    border: 8px solid var(--code-black-3);
    text-align: center;
    justify-content: space-around;
    position: relative;
    background-image: url(../../assets/images/soft_bg.png);
    background-size: 11%;
    transition: background-color var(--large-transition), box-shadow var(--large-transition), border-color var(--large-transition);
}