.theme_panel {
    position: fixed;
    padding: 12px 58px 12px 24px;
    border-radius: 0 24px 24px 0px;
    top: 50%;
    left: 0;
    transform: translate(-90px, -50%);
    background-color: var(--code-black);
    z-index: 100;
    box-shadow: 4px 4px 16px 0px var(--btn-shadow-subtle);
    transition: background-color var(--large-transition), box-shadow var(--large-transition), transform var(--large-transition);
}

.theme_panel:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
    width: 6px;
    border-radius: 12px;
    height: 88%;
    background-color: var(--code-backdrop);
    box-shadow: 0 2px 4px 0 var(--btn-shadow-subtle);
    transition: background-color var(--large-transition), box-shadow var(--large-transition), transform var(--large-transition);
}


.theme_panel:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    width: 6px;
    border-radius: 12px;
    height: 60%;
    background-color: var(--code-backdrop);
    box-shadow: 0 2px 4px 0 var(--btn-shadow-subtle);
    transition: background-color var(--large-transition), box-shadow var(--large-transition), transform var(--large-transition);
}

.theme_panel:hover {
    transform: translate(-6px, -50%);
    cursor: pointer;
}

.theme_panel h6 {
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: var(--code-text);
    margin: 6px 0 6px 0;
    font-family: codeHubFont;
    transition: color var(--large-transition);
}

.theme_btn {
    width: 44px;
    height: 44px;
    border: 3px solid var(--code-text);
    border-radius: 100%;
    cursor: pointer;
    z-index: 10;
    margin-bottom: 22px;
    transition: border-color var(--large-transition);
}

.theme_btns {
    justify-content: space-around;
    max-width: 130px;
    margin-top: 22px;
    flex-direction: column;
}

.theme_white {
    background-color: rgb(224,224,224);
}

.theme_black {
    background-color: rgb(31,31,31);
}